$primary-color:#1E88E5;
$secondary-color: #f1e040;


.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: $primary-color;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
  
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      border: 1px solid $primary-color;
    }

    &.google-sign-in{
      background-color: #4285f4;
      color: white;

      &:hover{
        background-color: #357ae8;
        border: none;
      }
    }
  }