
.game-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .game-detais-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        .game-title{
            font-size: 2rem;
            font-weight: bold;
            margin: auto 10px auto 0;
            // min-width: 50%;
            flex: 1;
            overflow: hidden;
            text-overflow:ellipsis;
        }
        .game-image-container{
            flex: 1;
            height: 80px;
            margin: auto 0;
            .game-image{
                width: 100%;
                height: 100%;
            }
        }
    }
    .vote-count{
        font-size: 2rem;
        font-weight: bold;
        margin: auto 10px;
        width:25%;
        flex: .5 1 auto;
        text-align: center;
    }
   .vote-container{
        flex: 1;
        .vote-button{
        padding: 3px;
        border: 1px solid grey;
        margin-bottom: 5px;
    }
   }
}


$breakpoint-tablet: 1024px;
$standard-desktop: 1440px;
$large-desktop: 2560px;

@media (min-width: $standard-desktop) {
    .game-card{
        width: 55%;
        align-content: center;
    
        .game-title{
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
          
        }
        .game-image-container{
            
           
            
            .game-image{
                width: 100%;
                height: 100%;
            }
        }
    }
}