.event-preview{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    margin:10px 10px;
    padding: 10px;
 &div{
     margin: auto 0;
 }
    .game-preview-container{
        display: flex;
        flex-direction: column;    
    }

    .attendee-preview-container{
    
    }
    
}


$breakpoint-tablet: 1024px;
$standard-desktop: 1440px;
$large-desktop: 2560px;

@media (min-width: $standard-desktop) {
    .event-preview{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    margin:10px 10px;
    padding: 10px;

    .game-preview-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .attendee-preview-container{
    
    }
    
}
}
