.user-landing {
    
    background-color: lightgrey;
    padding: 0 60px;
    height: 100%;
    .collection-container {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        width: 100%;
    }
    
}

$breakpoint-tablet: 1024px;
$standard-desktop: 1440px;
$large-desktop: 2560px;

@media (min-width: $standard-desktop ) {
    
 
}