// $primary-color:#1a75d2;
$primary-color:#1E88E5;
$secondary-color: rgb(245,246,247);

.homepage{
    display: flex;
    flex-direction: column;
    background-color: rgb(245,246,247);
    height: 100%;
    
    .get-started{
        min-width: 115px;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        font-size: 1.25rem;
        color: white;
        display: block;
        text-align: center;
        margin: 10px auto;
        padding: 20px 20px;
        &:hover{
            background-color: $secondary-color;
            color: $primary-color;
        }
    }

}

$breakpoint-tablet: 1024px;
$standard-desktop: 1440px;
$large-desktop: 2560px;

@media (min-width: $standard-desktop) {
    .homepage{
        padding: 0 60px;
        .get-started{
            width: 215px;
            font-size: 2rem;
        }
    }
}

